<div>
	<h1>{{locres.Head}}</h1>
</div>
<form class="categoryList">
<accordion close-others="oneAtATime">
	<accordion-group heading="{{category.name}}" is-open="category.open" ng-repeat="category in categories" ng-click="getNestedPurchasesByCategory(category, $index)">
		<accordion-heading>
			{{category.name}}
		</accordion-heading>
		<table class="table">
			<thead>
			<tr>
				<th>{{locres.t_Date}}</th>
				<th>{{locres.t_Buy}}</th>
				<th>{{locres.t_Price}}</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="purchase in category.purchases">
				<td>{{purchase.payDate}}</td>
				<td>{{purchase.name}}</td>
				<td>{{purchase.price}}</td>
			</tr>
			</tbody>
		</table>
	</accordion-group>
</accordion>
</form>